{% extends "layout.html" %}
{% block body %}

<html lang="en">
   <head>
      <title>Home</title>
      <h1>Welcome! Online assignment tracker system  </h1>  
   </head>
            <ul>
               <a><button type="index" value="upload"><a href="/index">Home</button></a>
               <br><br>
               <a><button type="display" value="display"><a href="/display">Display</button></a>
               <br><br>
               <a><button type="update" value="update"><a href="/update">Update</button></a> 
               <br><br>
               <a><button type="delete" value="delete"><a href="/delete">Delete</button></a>
               <br><br>
               <br>
            </ul>
         </div>               
            </div></br></br>
            <div class="contentbar">
               <div class="msg">{{ mesage }}</div>
            </div>
            
         </div>
      </div>
   </body>
</html>

{% endblock %}  



















































