{% extends "layout.html" %}
{% block body %}    
  
    
<html>
    <head>
        <title>SATS</title>
        
    </head>
    <body>
    <title>Update pfofile details</title>
        <form action='/profile' method='post'>
            <label>Name:</label>
            <input type="text" name="name" required>
            <label>Email:</label>
            <input type="text" name="email" required>
            <label>Password:</label>
            <input type="text" name="password" required>
            <input type='submit' value='Save Details'>
        </form>
    </body>
</html>

  <h4>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
    </h4>

    <p><a href="{{url_for('profile')}}">Update Profile</a></p>
    <table>
      <tr>
        <th>USERID</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PASSWORD</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      {% for data in datas %}
        <tr>
          <td>{{data.user_id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.password}}</td>
          <td><a href="{{url_for('editUser',user_id=data.user_id)}}">Edit</a></td>
          <td><a onclick="return confirm('Are you sure to delete?');" href="{{url_for('deleteUser',user_id=data.user_id)}}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>  

{% endblock %}  


























