
{% extends "layout.html" %}
{% block body %} 
  <br>
  <br>
  <div class="text-center"><br>
  <h1>Student Dashboard</h1><br>
  <br>
  <br>

  <a><button type="upload" value="upload"><a href="/upload">Upload assignment</button></a>
  <br>
  <br>

  <a><button type="view_assignment" value="view_assignment"><a href="/view_assignment">View Assignment</button></a>
  <br>
  <br>
  <a><button type="check_status" value="check_status"><a href="/check_status">View Result</button></a>
  <br>
  <br>
  <a><button type="update" value="update"><a href="/update">Update Profile</button></a>
  <br>
  <br>
  </div>    
</div>
</body>
</html>
{% endblock %}  


<!-- 
<form action="/upload" method="post">
  <button type="upload" value="upload">Upload assignment</button>
  <br>
  <br>
  <form action="/solution" method="post">
  <button type = "solution" name = "solution" >Solution</button>
  <br>
  <br>  
  
  <button type="result" value="result">See result</button>
  <br>
  <br>
  <button type="update" value="update">Update your details</button>  -->