{% extends "layout.html" %}
{% block body %} 
  <br>
  <br>
  <div class="text-center"><br>
  <h1>Teacher Dashboard</h1><br>
  <br>
  <br>

  <a><button type="post_assignment" value="post_assignment"><a href="/post_assignment">Post Assignment</button></a>
  <br>
  <br>

  <a><button type="view_submission" value="view_submission"><a href="/view_submission">View submission of assignment</button></a>
  <br>
  <br>
  <a><button type="update" value="update"><a href="/update">Update profile</button></a>

  <br>
  <br>
  </div>    
</div>
</body>
</html>
{% endblock %}  