{% extends "layout.html" %}
{% block body %}
<html>
<head>
</head>
<body>

<h2>Track the assignments</h2>
<table border="2">
	<tr>
		<th>Submission id</th>
		<th>Assignment id</th>
		<th>User id</th>
		<th>Submission Date</th>
		<th>Status</th>
	</tr>
	{% for item in records %}
	<tr>
		<td>{{item['submission_id']}}</td>
		<td>{{item['assignment_id']}}</td>
		<td>{{item['user_id']}}</td>
		<td>{{item['submission_date']}}</td>
		<td>{{item['status_of_assignment']}}</td>
	</tr>
    {% endfor %}
</table>	
<a href ="/approved_list">Click here to see students whose assignments are approved</a>
<br>
<br>
<a href="/rejected_list">Click here to see students whose assignments are rejected</a>
</body>
</html>

{% endblock %}