{% extends "layout.html" %}
{% block body %} 
<html lang="en">
	<head>
		<h1>Welcome! Online assignment tracker system  </h1>
		<title>update</title>
		
	</head>
		<div class="one">
			<div class="two">
				<ul>
					<a><button type="display" value="display"><a href="/display">Display</button></a>
					<br><br>
					<a><button type="update" value="update"><a href="/update">Update</button></a>	
					<br><br>
					<a><button type="delete" value="delete"><a href="/delete">Delete</button></a>
					<br>
				</ul>
			</div>						
				</div>
				<div class="contentbar">
				<b>Update your details below</b></br>
				<br>
			<form action="{{ url_for('update') }}" method="post" autocomplete="off">
					<div class="mesage">{{ mesage }}</div>
					<input type="text" name="name" placeholder="Enter Your name" class="textbox" id="name" required></br></br>
					<input type="email" name="email" placeholder="Enter Your email" class="textbox" id="email" required></br></br>
					<input type="password" name="password" placeholder="Enter Your password" class="textbox" id="password" required></br></br>					
					<input type="submit" value="Update">
			</form>					
				</div>
				
			</div>
		</div>
	</body>
</html>

{% endblock %}  