
{% extends "layout.html" %}
{% block body %} 
<title>View Submission</title>
<html>
<head></head>
<body>

<br><br>
<table border="2">
    <tr>
        <th>Submission id</th>
        <th>Assignment id</th>
        <th>User id</th>
        <th>Submission Date</th>
        <th>Solution</th>
    </tr>

{% for item in record %}

    <tr>
        <td>{{user['submission_id']}}</td>
        <td>{{user['assignment_id']}}</td>
        <td>{{user['user_id']}}</td>
        <td>{{user['submission_date']}}</td>
        <td>{{user['solution']}}</td>
   </tr>

    {% endfor %}
    
</table>

{{ myhtml|e }}
</body>
</html>

{% endblock %}



