


{% block body %} 
<title>View Assignment</title>
<html>
<head></head>
<body>

<h2>Check Solution of Assignments!!!!!!
<br>
<br>
<table border="1">
    <tr>
        <th>Submission id</th>
        <th>Assignment id</th>
        <th>User id</th>
        <th>Date</th>
        <th>New link to download</th>
    </tr>

    {% for item in user %}
    <tr>
        <td>{{item['submission_id']}}</td>
        <td>{{item['assignment_id']}}</td>
        <td>{{item['user_id']}}</td>
        <td>{{item['submission_date']}}</td>
        <td><a href="/download/{{item['solution']}}">Click here to see solution</a></td>
    </tr>
    {% endfor %}
    </table>
    {% endblock %}  
    

{{ myhtml|e }}
<h3>Add status of assignment!</h3>
<form action="/status_of_assignment" method="post">
    <label for="submission_id">Add submission id:</label>
    <input type="text" name="submission_id" required>
    <br>
    <label for="status_of_assignment">Add status:</label>
    <input type="text" name="status_of_assignment" required>
    <br>
    <br>
    <button type="submit">Submit Status</button>
</form>

</body>
</html>


