
{% extends "layout.html" %}
{% block body %} 
<title>View Assignment</title>
<html>
<head></head>
<body>

<br>
<br>
<table border="2">
    <tr>
        <th>Assignment Title</th>
        <th>Description</th>
        <th>Submission due Date</th>
    </tr>

{% for item in user %}

    <tr>
        <td>{{item['assignment_title']}}</td>
        <td>{{item['description']}}</td>
        <td>{{item['submission_due_date']}}</td>  
   </tr>

    {% endfor %}
    </table>
<br>
<br>
<a href="/upload"><button>Click here to upload assignment!</button>

<br>

{{ myhtml|e }}
</body>
</html>
{% endblock %}


  


    
      





